<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>NLU Trainer</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click) = "addChild()" >Add Sample</button>
      <span class="btn-spacer"></span>
      <button mat-raised-button color="accent">Save</button>
    </mat-toolbar-row>
</mat-toolbar>


<div *ngFor="let sample of samples; let i = index" [attr.data-index]="i">
  <mat-form-field class="example-full-width" >
    <mat-grid-list cols="4">
      <input type="text"  aria-label="Number" matInput  [(ngModel)] = "sample.intent" placeholder="Intent" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-grid-list>
  </mat-form-field>
  <mat-form-field class="example-full-width" >
    <mat-grid-list cols="4">
      <input matInput [(ngModel)] = "sample.text" placeholder="Text">
      </mat-grid-list>
  </mat-form-field>
  <mat-form-field class="example-full-width" >
    <mat-grid-list cols="4">
      <input matInput [(ngModel)] = "sample.res" placeholder="Response">
    </mat-grid-list>
  </mat-form-field>
</div>
